.hero-unit.text-center
  %h1 Making Sense Of The Market
  .lead Search for S&P 500 Stock

  = form_tag "?", method: :get do |f|
    = text_field_tag :search, params[:search], placeholder: "Ticker Symbol"
    %br
    = submit_tag "Search Stocks", class: "btn btn-success btn-large"
